.wrapper{
	.main_menu{
		ul{
			padding: 0;
			li{
				a{
					transition: background .2s ease-in-out;
					color: white;
					&:hover{
						background: rgb(43, 0, 62);
						color: white;
					}
				}
			}
		}
		ul.menu_dropdown{
			z-index: 110;
			li{
				a{
					color: black;
					&:hover{
						background: rgb(43, 0, 62);
						color: white;
					}
				}
			}
		}
	}
	.submenu{
		.logo{
			&:hover{
				&::after{
					left: 0;
				}
			}
		}
	}
	.sidebar_left{
		background: black;
		display: flex;
		flex-flow: row;
		overflow: auto;
		width: 100%;
		position: fixed;
		top: 70px;
		left: 0;
		z-index: 20;
		padding: 10px;
		gap: 10px;
		.item{
			// background: white;
			width:  40px;
			height: 40px;
			margin: 0;
			background: rgb(10, 73, 82);
			transition: background .3s ease-in-out;
			&:hover{
				background: darken($color: rgb(10, 73, 82), $amount: 10);
			}
			&:after{
				transition: filter .3s ease-in-out;
			}
		}
	}

	.middle_area{
		.main_wrapper{
			align-items: center;
			margin: 55px 0 0 0;
		}
	}

	.sidebar_right{
		margin: 55px 0 0 0;
		padding: 10px 10px 25px 0;
	}
}
