body{
	background: #cbcbcb;
}


.mask {
	position: absolute;
	z-index: 2;
	background: white;
	height: 100vh;
	width: 100vw;
	mix-blend-mode: screen;
	// display: none;
	svg {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}



.wrapper{
	top: 35px;
	display: flex;
	align-items: end;
	#canvas_minipaint{
		border: none;
	}

	div.MAIN_item{
		height: calc(100% - 70px);
		width: 100%;
		margin: 0 0 10px 0;
		flex-flow: row;
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 40px;
		.middle_area{
			width: 100%;
			height: 100%;
			.main_wrapper{	
				margin: 0;
			}
		}
	}

	.main_menu{
		z-index: 50;
		ul{
			height: inherit;
			padding: 0;
			background: #ffdddd;
			gap: 15px;
			padding: 5px;
			li{
				background: #ffb3b3;
				border-radius: 7px;
				transition: background .4s ease-in-out;
				a{
					transition: background .4s ease-in-out;
					color: #000000;
					padding: 5px 12px;
					border-radius: 7px;
					&:hover{
						background: #fe8b8b;
						color: #000000;
						border-radius: 7px;
					}
				}
				&:hover{
					border-radius: 7px;
					background: #ff8383;
				}
			}
		}
		ul.menu_dropdown{
			z-index: 110;
			box-shadow: none;
			li{
				a{
					color: black;
					&:hover{
						background: #ff8383;
						color: white;
					}
				}
			}
		}
	}
	.submenu{
		z-index: 40;
		background: #dec3cd;
		position: fixed;
		top: 35px;
		left: 0;
		width: 100%;
		.logo{
			display: none;
			&:hover{
				&::after{
					left: 0;
				}
			}
		}
		.block{
			background: #feeaea;
			margin: 9px 7px 7px !important;
			padding: 5px 10px;
			width: 100%;
		}
	}

	.middle_area{
		.main_wrapper{
			align-items: center;
			margin: 55px 0 0 0;
		}
	}


	.sidebar_left{
		height: 100%;
		width: 130px;
		background: #ffdddd;
		padding: 5px 0;
		margin: 0;
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
		overflow: hidden;
		justify-content: center;
		align-content: start;
		border-radius: 8px;
		gap: 5px;
		.item.active{
			background-color: white;
		}
		& > span{
			width:  40px;
			height: 40px;
			margin: 0;
			background: #d89999;
			border-radius: 5px;
			&:hover{
				background: darken($color: #d89999, $amount: 10);
			}
		}
	}

	.sidebar_right{
		margin: 0 40px 0 0;
		min-width: 200px;
		flex-grow: 1;
		height: 100%;
		padding: 0 10px 0 0;
	}
}
